
h2{
    margin-left: 140px;
    color: rgb(3, 128, 10);
}

table {
  border-collapse: collapse;
  background-color: #90ee90;
}
th {
  text-align: left;
  font-weight: normal;
  padding-right: 40px;
}
